@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sarala:wght@400;700&display= trocar');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sarala', sans-serif;

}

body{
    height: 110vh;
    font-size: 100%;
    background: linear-gradient(68.15deg,  #201b2c 16.62%, #8b6ad8 85.61%);
    margin: 0;
    overflow: hidden;
}


nav.menu-lateral{
    width: 80px;
    height: 100%;
    background-color: #201b2c;
    padding: 40px 0px 40px 1%; 
    box-shadow: 3px 0 0 #8577ff;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
}

nav.menu-lateral.expandir{
    width: 300px;
}

.btn-expandir{
    width: 100%;
    padding-left: 10px;
}

.btn-expandir > i{
    color: antiquewhite;
    font-size: 24px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu{
    transition: .2s;
}

ul li.ativo{
    background-color: #8577ff;
}

ul li.item-menu:hover{
    background: blueviolet;
}

ul li.item-menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu a .txt-link {
    margin-left: 70px;
    transition: .5s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link{
    margin-left: 40px;
    opacity: 1;
}

ul li.item-menu a .icon > i{
    font-size: 30px;
    margin-left: 10px;
}

.conteudo{
    margin-bottom: 0;
   
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-left: 60px;
}

.conteudo-principal-escrito-titulo{
    font-family:'righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color:  #bdbcc0;
}

.conteudo-principal-escrito-subtitulo{
    font-family: 'Sarala' sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ecd6c4;
}

.conteudo-principal-escrito-botao{
    background-color: #4c00ff88;
    width: 100px;
    height: 40px;
    color: #ecd6c4;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 5px 4px #201b2c;
    font-family: 'Sarala' sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.conteudo-principal-escrito-botao:hover{
    background-color: rgba(236, 214, 196, 0.53);
    cursor: pointer;
}

.conteudo-principal-imagem{
    height: 430px;
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo{
    border-top: 0.4px solid  #8577ff;
    padding-top: 48px;
    font-family:'righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #fff2e7;
    margin-bottom: 16px;
}

.icone-saldo {
    color: #201b2c; 
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 60px;
}

.icone-saldo:hover{
    background-color: #77ffc0;
    cursor: pointer;
}

.cor-saldo{
    font-family: 'Sarala' sans-serif;
    font-size: 18px;
    color: #201b2c;
    display: none;
}

.rodape{
    padding: 0px;
    border-top: 0.4px solid #8577ff;
    height: 100px;
}
.rodape-imagem{
    height: 100%;
    display: block;
    padding-left: 601px;
    height: 130px;
}

.cor-btn{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

.cor-btn .icone-saldo {
    font-size: 20px;
}

.cor-btn .txt-saldo {
    margin-top: 5px;

}

.cor-btn a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}





@media only screen and (max-width: 1100px){
    .cabecalho-img{
      display: none;
    }

    .rodape-imagem{
        display: none;
    }
    
}
@media only screen and (max-width: 660px){
    .cabecalho-menu-item{
       font-size: 90%;
    }
    .conteudo-principal-escrito {
        flex-direction: column;
        padding: 2%;
    }
    nav.menu-lateral{
        width: 15%;
        height: 100%;
        padding: 0;
    }

    .right-login{
        width: 100%;
        height: auto;
    }

    .left-login-image{
        width: 50vw;
    }
} 
@media only screen and (max-width: 990px){
    .conteudo-principal-imagem{
        display: none;
    }
    .rodape{
        border-top: none;
    }
}
