@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sarala:wght@400;700&display= trocar');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sarala', sans-serif;
}

body{
    background-color: rgb(52, 51, 53);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cabeca{
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    text-align: center;
    padding: 10px 0;
    color: #fff;
    font-family: 'Righteous', sans-serif; 
    padding-top: 100px;
}

.wraper{
max-width: 760px;
margin: 10px auto;
background-color: white;
padding: 20px;
display: flex;
border-radius: 8px;
flex-wrap: wrap;
justify-content: center;
align-items: center;
text-align: center;
}

.days-week{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 10px 0;
    border-bottom: 1px solid #f86078;
}

.number-days{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.days-week span{
    color: #f86078;
    font-weight: bold;
    display: inline-block;
    width: 14.2%;
}

.number-days span{
    display: inline-block;
    width: 14.2%;
    margin: 8px 0;
    color: #555;
}

.mes-anterior{
    opacity: 0.5;
}