@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sarala:wght@400;700&display= trocar');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background: linear-gradient(68.15deg,  #77ffc0 16.62%, #201b2c 85.61%);
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-img{
    height: 90px;
}

.cabecalho-menu{
    display: flex;
    gap: 35px;
}

.cabecalho-menu-item{
    font-family: 'Sarala', sans-serif;
    color: aliceblue;
    font-weight: 400;
    font-size: 18px;
}

.conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid #fff2e7;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo{
    font-family:'righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color:  #201b2c;
}

.conteudo-principal-escrito-subtitulo{
    font-family: 'Sarala' sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ecd6c4;
}

.conteudo-principal-escrito-botao{
    background-color: #201b2c;
    width: 100px;
    height: 40px;
    color: #ecd6c4;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 5px 4px #201b2c;
    font-family: 'Sarala' sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.conteudo-principal-escrito-botao:hover{
    background-color: rgba(236, 214, 196, 0.53);
    cursor: pointer;
}

.conteudo-principal-imagem{
    height: 430px;
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo{
    border-top: 0.4px solid #fff2e7;
    padding-top: 48px;
    font-family:'righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #fff2e7;
    margin-bottom: 16px;
}

.icone-saldo {
    color: #201b2c; /* Altere para a cor desejada */
    background-color: #77ffc0;
    border: none;
    border-radius: 60px;
}

.icone-saldo:hover{
    background-color: #77ffc0;
    cursor: pointer;
}

.cor-saldo{
    font-family: 'Sarala' sans-serif;
    font-size: 18px;
    color: #201b2c;
}

.rodape{
    padding: 32px;
    border-top: 0.4px solid #fff2e7;
}
.rodape-imagem{
    height: 300px;
    display: block;
    margin: 0 auto;
}

